{% if level == 'level_1' %}
    {%  set navbarClass = 'navbar-nav' %}
    {%  set navitem  = 'nav-item' %}
    {%  set linkclass = 'nav-link' %}
{% else %}
    {%  set navbarClass = 'dropdown-menu' %}
    {%  set navitem = '' %}
    {%  set linkclass = 'dropdown-item' %}
{% endif %}
{%  set listAttributes = attrs()
    .addClass(level)
    .addClass(navbarClass)
    .addClass('mr-auto')
%}

<ul {{ listAttributes }}>
     {% for item in items %}
        {% if item.isActive %}
            <li class="{{ navitem }} {{ item.class }}">
              <strong
                class="{{ item.class }} {{ linkclass }}"
                {% if item.subitems is not empty %}
                    data-bs-toggle="dropdown" aria-haspopup="true"
                {% endif %}
              >
                {{ item.link }}
              </strong>
            {{ item.subitems|default|raw }}
        {% else %}
            <li class="{{ navitem }} {{ item.class }} dropdown">
                <a
                   href="{{ item.href|default('./') }}"
                   title="{{ item.pageTitle|default(item.title) }}"
                   class="{{ item.class }} {{ linkclass }} {% if item.subitems is not empty %}dropdown-toggle{% endif %}"
                    {% if item.accesskey is not empty %}accesskey="{{ item.accesskey }}"{% endif %}
                    {% if item.tabindex|default is not empty %}tabindex="{{ item.tabindex }}"{% endif %}
                    {{ item.target }} {{ item.rel|default }}
                    {% if item.subitems is not empty %}data-bs-toggle="dropdown" aria-haspopup="true"{% endif %}
                >
                    {{ item.link }}
                </a>
                {{ item.subitems|raw }}
            </li>
        {% endif %}
    {% endfor %}
</ul>
