{# {% extends '@Contao/frontend_module/_base.html.twig' %}  #} {# do NOT extend as we do not want a wrapper block #}

{% block content %}

    {% if level == 'level_1' %}
      {#  topmost level #}
        {%  set itemType='nav-item' %}
        {% set navbarClass = 'navbar-nav' %}
        {% set navitemClass = 'nav-item' %}
    {% else %}
      {# level2 and below #}
        {%  set itemType='dropdown-item' %}
        {% set navbarClass = 'dropdown-menu' %}
        {% set navitemClass = '' %}
    {% endif %}


    {% set listAttributes = attrs(listAttributes|default)
        .addClass(level)
        .addClass(navbarClass)
        .addClass('mr-auto')
    %}


    <ul {{ listAttributes }}>
        {% for item in items %}
            {% if item.subitems is not empty %}
              <li class="{{ navitemClass }} dropdown">
                <a
                   class="nav-link dropdown-toggle {{ item.classXX|default }}" {# item.class contains 'active' if the item is the currently selected one -- set by Contao #}
                   href="#"
                   id="navid_{{ item.id }}"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false"
                >
                    {{ item.link }}
                </a>
                  <ul class="{{ navbarClass }}" aria-labelledby="navid_{{ item.id }}">
                      {{ item.subitems|raw }}
                  </ul>
                </li>
            {% else %}
                <li class="{{ navitemClass }}">
                    <a
                       class="{% if level == 'level_1' %}nav-link{%  else %}{% endif%} {{ itemType }} {{ item.class }}"
                       href="{{ item.href|default('./') }}"
                       title="{{ item.pageTitle|default(item.title) }}"
                       {% if item.accesskey is not empty %}accesskey="{{ item.accesskey }}"{% endif %}
                       {% if item.tabindex|default is not empty %}tabindex="{{ item.tabindex }}"{% endif %}
                       {{ item.target }} {{ item.rel|default }}
                    >
                        {{ item.link }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}